.left
  .header__Text

    -# %h3.name
    -#   = current_user.name

  .info
    .search
      = form_with(url: messages_path, local: true, method: :get, class: "search-form") do |form|
        = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
        = form.submit "検索", class: "search-btn"
    .info__new
      新着
    .info__popular
      人気
    .info__subject
      学年・教科<br>
    .image_test
      = icon("fas", "book")  
      -# = fa_icon 'edit'
      %i.fa.fa-cog
      = link_to "https://www.facebook.com/", class: "Contents__btn" do
        = icon('fab', 'facebook-square')
      aa
      = link_to "https://www.facebook.com/", class: "Contents__btn" do
        = icon('fab', 'facebook-square')
        Facebook
      = link_to "https://twitter.com/", class: "Contents__btn" do
        = icon('fab', 'twitter')
        Twitter
      = link_to "https://www.instagram.com/", class: "Contents__btn" do
        = icon('fab', 'instagram')
        Instagram