.content
  .container
    = form_with(model: @message, local: true, class: :form_box) do |form|
      %h3 編集する
      = form.text_field :grade, placeholder: "学年", class: "detail-s"
      = form.text_field :subject, placeholder: "科目", class: "detail-s"
      = form.text_field :text, placeholder: "題名", class: "detail-m"
      = form.text_area :text, placeholder: "説明", rows: "10", class: "detail-l"
      -# = f.text_field :image, placeholder: "Image Url", class: "text-center", id: "test-id"
      = form.file_field :image, placeholder: "画像ファイルを選択", class: "detail-m"
      = form.submit "送信" ,class: "submit-new"