.mypage
  %p.show__name
    = @user
    さんの投稿一覧
  .mypage__show
    .mypage__show--box
      - @messages.each do |message|
        %p= message.text
        %span.grade= message.grade
        %span.subject= message.subject
        -# %span.detail= message.detail
        .content_post{style: "background-image: url(#{message.image});"}