!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Pritea
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      %p
        %a.header-logo{href:"/"}
          %img{src:"assets/logo.png", :height => "140px", :width => "420px",}

      .header__ber
        .header__ber--left
          %h2
            みんなのおすすめプリントで,
            %br>/
            楽しくわかりやすい授業を ^_^
          -# %a.post{:href => "/messages/new"} 投稿する
        .header__ber--right
          - if user_signed_in?
            .logined
              %p
                @user.name
              = link_to "ログアウト", destroy_user_session_path,method: :delete, class: "header-post"
              = link_to "投稿する", new_message_path, class: "header-post"
          - else
            .no_login
              = link_to "ログイン", new_user_session_path, class: "header-post"
              = link_to "新規登録", new_user_registration_path, class: "header-post"
            
    = yield
    %footer.footer
      %p
        %a.footer-logo{href:"/"}
          %img{src:"assets/logo.png", :height => "70px", :width => "210px",}
      %p
        @ 2020 ea2ne
